# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
.DS_Store

# Raw source data
data/raw/*.xlsx
